<p id="notice"><%= notice %></p>

<p>
  <strong>Email address:</strong>
  <%= @contact.email_address %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @contact.subject %>
</p>

<p>
  <strong>Description:</strong>
  <%= @contact.description %>
</p>

<p>
  <strong>Description:</strong>
  <%= @contact.description %>
</p>

<p>
  <strong>First name:</strong>
  <%= @contact.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @contact.last_name %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
